extends layout

block content
  h1= title
  p Hello world, welcome to #{title}
  input(
  id='itemName'
  type='text'
  placeholder='Item name'
  )
  input(
  id='addItemBtn'
  type='button'
  value='Add item'
  )

